{% load staticfiles compress %}
<!doctype html>
<html class="no-js" ng-app="projApp">
  <head>
    <meta charset="utf-8">
    <title ng-bind="'activeTab'|capitalize:this">Czekam na GonG! ...</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {% compress css %}
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/fullcalendar/dist/fullcalendar.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/spinkit/css/spinkit.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/angular-spinkit/build/angular-spinkit.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/select2/select2.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="{{ STATIC_URL }}app/styles/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/styles/animate.css">
    <!-- endbuild -->
    {% endcompress %}
  </head>
  <body class="animated fadeIn">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default bg" role="navigation">
        <div class="container">


          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <div class="row">
              <div class="col-md-1">
                <div class="navbar-header">

                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                  <a class="navbar-brand" href="#/">Boxer</a>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <!-- {search -->
                <form class="form form-horizontal">
                  <div class="form-group col-md-10">
                    <input type="text" class="form-control" placeholder="Szukaj...">
                  </div><!-- /input-group -->
                  <span class="form-group col-md-2">
                    <button class="btn btn-success glyphicon glyphicon-search" type="button"> Idź</button>
                  </span>
                </form>
                <!-- search} -->
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="pull-right" ng-show="user.isAuthenticated">
                  <a href='' class="btn btn-link ng-cloak">{$ user.email $}</a>
                  <a href="" class="btn btn-link" ng-click="logout()">wyloguj</a>
                  <button id="hide-controls" ng-click="hideControls($event)"
                    class="pull-right glyphicon glyphicon-eye-open"
                    ng-show="acl.resources.BOXERS === true || acl.resources.BOXERS === false"
                  ></button>
                </div>
                <div class="pull-right" ng-hide="user.isAuthenticated" ng-include="'views/forms/login.html'">
                </div>
              </div>
            </div>


              <ul class="nav navbar-nav">
                <li ng-class="{active: activeTab == 'main'}">
                  <a class="glyphicon glyphicon-home btn-xs" href="#/">Home</a>
                </li>
                <li ng-class="{active: activeTab == 'players'}">
                  <a class="glyphicon glyphicon-certificate btn-xs" href="#/players">Zawodnicy</a>
                </li>
                <li ng-class="{active: activeTab == 'coaches'}">
                  <a class="glyphicon glyphicon-paste btn-xs" href="#/coaches">Trenerzy</a>
                </li>
                <!--<li ng-class="{active: activeTab == 'tickets'}">-->
                  <!--<a class="glyphicon glyphicon-open-file btn-xs" href="#/tickets">Bilety</a>-->
                <!--</li>-->
                <li ng-class="{active: activeTab == 'agenda'}">
                  <a class="glyphicon glyphicon-blackboard btn-xs" href="#/agenda">Terminarz</a>
                </li>
                <li ng-class="{active: activeTab == 'about'}">
                  <a class="glyphicon glyphicon-earphone btn-xs" href="#/about">Kontakt</a>
                </li>
              </ul>


          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
        <h6 class="text-center"><span class="glyphicon glyphicon-heart"></span> ... Thanks to ... <span class="glyphicon glyphicon-heart"></span></h6>
        <br>
        <p class="pull-right">Django <span class="glyphicon glyphicon-heart"></span></p>
        <p><span class="glyphicon glyphicon-heart"></span> AngularJS</p>
        <p class="pull-right">MongoDB <span class="glyphicon glyphicon-heart"></span></p>
        <p><span class="glyphicon glyphicon-heart"></span> Elasticsearch</p>
        <p class="pull-right">Yeoman <span class="glyphicon glyphicon-heart"></span></p>
        <br>
        <h6 class="text-center"><span class="glyphicon glyphicon-heart"></span> ... and more ... <span class="glyphicon glyphicon-heart"></span></h6>
      </div>
    </div>

    {% compress js %}
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) app/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular/angular.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-animate/angular-animate.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-route/angular-route.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-touch/angular-touch.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="{{ STATIC_URL }}bower_components/moment/moment.js"></script>
    <script src="{{ STATIC_URL }}bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-spinkit/build/angular-spinkit.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="{{ STATIC_URL }}bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bower_components/select2/select2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bower_components/angular-ui-select2/src/select2.js"></script>

    <script src="{{ STATIC_URL }}app/scripts/widgets.js"></script>

        <!-- build:js({.tmp,app}) app/scripts/app/scripts.js -->
        <script src="{{ STATIC_URL }}app/scripts/app.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/main.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/about.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/agenda.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/coaches.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/gym.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/places.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/tickets.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/players.js"></script>


        <script src="{{ STATIC_URL }}app/scripts/filters/main.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/services/chunker.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/services/acl.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/services/player.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/controllers/player-view.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/services/user.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/services/restresource.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/services/coach.js"></script>
        <script src="{{ STATIC_URL }}app/scripts/services/event.js"></script>
        <!-- endbuild -->
{#        <script src="{{ STATIC_URL }}app/scripts/mocks.js"></script>#}
    {% endcompress %}

</body>
</html>
